body {
  background-color: aqua;
  border: 10px solid cadetblue;
}

.App {
  text-align: center;
}

.smurf{
  border: 5px solid black;
  width: 40%;
  margin-left: 28%;
  margin-top: 6%;
  background-color: beige;
  padding: 2%;

}

h1{
  font-family: fantasy;
  font-size: 60px;
}


